.popupTitle {
  margin: 100px auto 80px;
  color: var(--darkblue, #002d63);
  font-family: var(--title-h-1-molot-font-family, "Molot-Regular", sans-serif);
  font-size: var(--title-h-1-molot-font-size, 128px);
  line-height: var(--title-h-1-molot-line-height, 128px);
  font-weight: var(--title-h-1-molot-font-weight, 400);
}

.closeButton {
  display: block;
  object-fit: cover;
  background-image: url(./close_button/close-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 2;
}

@media screen and (width <= 1280px) {
  .popupTitle {
    font-size: var(--title-h-2-molot-font-size, 100px);
    line-height: var(--title-h-2-molot-line-height, 100px);
  }

  .closeButton {
    background-image: url(./close_button/close-btn-1280.svg);
    max-width: 70px;
    max-height: 70px;
  }
}

@media screen and (width <= 768px) {
  .popupTitle {
    margin-bottom: 60px;
    font-size: var(--title-h-4-molot-font-size, 66px);
    line-height: var(--title-h-4-molot-line-height, 66px);
  }

  .closeButton {
    background-image: url(./close_button/close-btn-768.svg);
    max-width: 45px;
    max-height: 45px;
    top: 20px;
    right: 20px;
  }
}

@media screen and (width <= 360px) {
  .popupTitle {
    font-family: var(
      --title-tel-h-2-molot-font-family,
      "Molot-Regular",
      sans-serif
    );
    font-size: var(--title-tel-h-2-molot-font-size, 30px);
    line-height: var(--title-tel-h-2-molot-line-height, 30px);
  }

  .closeButton {
    background-image: url(./close_button/close-btn-360.svg);
    max-width: 32px;
    max-height: 32px;
  }
}

