.text {
  font-weight: 400;
  color: var(--darkblue, #002d63);
  text-decoration-skip-ink: none;

  &__line {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  &__outlined {
    color: var(--white);

    -webkit-text-stroke: 3.5px var(--darkblue);
  }

  &__molot {
    font-family: molot-regular, sans-serif;
  }

  &__germano {
    font-family: Germano-Regular, sans-serif;
  }

  &__gost {
    font-family: GostTypeB-Standard, sans-serif;
  }

  &__view-molot-1 {
    font-size: 128px;
    line-height: 1;
  }

  &__view-molot-2 {
    font-size: 100px;
    line-height: 1;
  }

  &__view-molot-3 {
    font-size: 80px;
    line-height: 1;
  }

  &__view-molot-4 {
    font-size: 66px;
    line-height: 1;
  }

  &__view-germano-1 {
    font-size: 140px;
    line-height: 0.86; // 120px;
  }

  &__view-germano-2 {
    font-size: 80px;
    line-height: 1;
    text-decoration-thickness: 4px;
    text-underline-offset: 12px;
    letter-spacing: -3.2px;
  }

  &__view-germano-3 {
    font-size: 64px;
    line-height: 1;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
  }

  &__view-germano-4 {
    font-size: 48px;
    line-height: 1;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 8px;
  }

  &__view-gost-1 {
    font-size: 32px;
    line-height: 1.19; // 38px;
  }

  &__view-gost-2 {
    font-size: 24px;
    line-height: 1.17; // 28px;
  }

  &__view-gost-3 {
    font-size: 20px;
    line-height: 1.2; // 24px;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
}
