.submenu,
.submenu * {
  box-sizing: border-box;
}

.submenu {
  position: absolute;
  top: -20px;
  left: 0;

  visibility: hidden;
  opacity: 0;

  transition: all 200ms ease-in;

  &Visible {
    visibility: visible;
    opacity: 1;
  }

  &List {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;

    width: max-content;
    margin: 62px 10px 20px 90px;
    padding: 20px 20px 28px;

    background: var(--white, #fff);
    border-color: var(--darkblue, #002d63);
    border-style: solid;
    border-width: 0 0 2px;
    border-radius: 2px;
    box-shadow: var(--shadow-box-shadow, 0 10px 20px 0 rgb(0 45 99 / 30%));
  }

  &Item {
    display: flex;

    &:hover {
      background: var(
        --radialblue-45,
        radial-gradient(closest-side, rgb(3 64 137 / 45%) 0%, rgb(255 255 255 / 0%) 100%)
      );
    }
  }

  &Link {
    font-family: GostTypeB-Standard, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17; // 28px;
    color: var(--darkblue, #002d63);
    text-align: left;

    &Active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
    }
  }
}

@media screen and (width <= 768px) {
  .submenu {
    position: static;
    top: 0;
    left: 0;

    overflow: hidden;

    max-height: 0;
    margin: 0;

    visibility: visible;
    opacity: 1;

    transition: max-height 0.5s;
    transition: all 200ms ease-in;

    &Visible {
      max-height: 1000px; // should be bigger than self original height for transition:max-height to work
    }

    &List {
      gap: 12px;
      align-items: flex-end;

      width: max-content;
      margin: 0;
      padding-right: 0;
      padding-bottom: 0;

      border: none;
      box-shadow: none;
    }

    &Link {
      font-size: 20px;
      line-height: 1.2; // 24px;
    }
  }
}
