.promo,
.promo * {
  box-sizing: border-box;
}

.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;

  width: 100%;
  min-height: 1160px;
}

.promo__bg_blue {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 935px;

  background: var(
    --gradient-bg,
    linear-gradient(
      0.23deg,
      rgb(12 52 131 / 100%) 0%,
      rgb(162 182 223 / 100%) 100%,
      rgb(107 140 206 / 100%) 100%
    )
  );
}

.promo__title {
  margin: 47px 0 0;

  font-family: Molot-Regular, sans-serif;
  font-size: 480px;
  font-weight: 400;
  line-height: 480px;
  text-align: center;

  background-image: var(
    --gradient,
    linear-gradient(
      0deg,
      rgb(12 52 131 / 100%) 1%,
      rgb(71 103 167 / 100%) 25%,
      rgb(162 182 223 / 100%) 59%,
      rgb(255 255 255 / 100%) 88%
    )
  );

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text; // Doesn't work with a stacking context(e.g. position: relative), see Chromium bug
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.promo__divider {
  width: 100%;
  max-width: 1720px;
  height: 0;
  margin: -40px 0 92px; // under title

  border-color: var(--darkblue, #002d63);
  border-style: solid;
  border-width: 4px 0 0;
}

.headlines {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: flex-start;

  margin: 0 0 0 100px;
}

.headline {
  font-family: var(--title-h-3-font-family, 'Germano-Regular', sans-serif);
  font-size: var(--title-h-3-font-size, 64px);
  font-weight: var(--title-h-3-font-weight, 400);
  line-height: var(--title-h-3-line-height, 64px);
  color: var(--white, #fff);
  text-align: left;
}

.promo__button {
  position: absolute;
  bottom: 0;
  left: calc(50% - 225px);

  width: 450px;
  height: 450px;
}

.promo__ellipse1 {
  position: absolute;
  inset: 0%;

  width: 100%;
  height: 100%;

  background: var(--white, #fff);
  border-radius: 50%;
}

.promo__ellipse2 {
  position: absolute;
  inset: 5.56%;

  width: 88.89%;
  height: 88.89%;

  background: linear-gradient(
    0deg,
    rgb(12 52 131 / 100%) 10%,
    rgb(180 202 247 / 100%) 81%,
    rgb(242 246 255 / 100%) 97%
  );
  border-radius: 50%;
}

.promo__text {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 140px);

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 280px;
  height: 140px;
}

.promo__div2 {
  position: relative;

  flex: 1;

  font-family: var(--title-h-3-font-family, 'Germano-Regular', sans-serif);
  font-size: var(--title-h-3-font-size, 64px);
  font-weight: var(--title-h-3-font-weight, 400);
  line-height: var(--title-h-3-line-height, 64px);
  color: var(--white, #fff);
  text-align: center;
}
