.icon {
  cursor: pointer;
  line-height: 0;

  & > svg {
    width: 100%;
    height: 100%;
  }

  &__reverse {
    transform: rotate(180deg);
  }
}

@media screen and (width <= 1280px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (width <= 768px) {
  .icon__768 {
    width: 16px;
    height: 16px;
  }
}
