.btn,
.btn * {
  box-sizing: border-box;
}

.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 450px;
  height: 450px;

  .disk_out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: var(--white, #fff);
    border-radius: 50%;
  }

  .disk_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 88.89%;
    height: 88.89%;

    background: linear-gradient(
      0deg,
      rgb(12 52 131 / 100%) 10%,
      rgb(180 202 247 / 100%) 81%,
      rgb(242 246 255 / 100%) 97%
    );
    border-radius: 50%;

    &:hover {
      box-shadow: 0 10px 20px 0 rgb(0 45 99 / 30%);
    }

    &:active {
      border: 2px solid var(--dark-blue, #002d63);
    }
  }

  .promoText {
    max-width: 90%;

    font-family: var(--title-h-3-font-family, 'Germano-Regular', sans-serif);
    font-size: var(--title-h-3-font-size, 64px);
    font-weight: var(--title-h-3-font-weight, 400);
    line-height: var(--title-h-3-line-height, 64px);
    color: var(--white, #fff);
  }

  .disk_in:hover .promoText {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }

  .disk_in:active .promoText {
    color: var(--darkblue, #002d63);
  }
}

.radiant {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1000px;
  height: 1000px;

  .gradient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: var(
      --radialblue,
      radial-gradient(closest-side, rgb(0 73 216 / 100%) 0%, rgb(255 255 255 / 0%) 100%)
    );
    border-radius: 50%;

    &_gray {
      background: var(
        --radialblue-45,
        radial-gradient(closest-side, rgb(3 64 137 / 45%) 0%, rgb(255 255 255 / 0%) 100%)
      );
    }
  }

  .disk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 40%;

    border-radius: 50%;

    &:hover {
      box-shadow: 0 10px 20px 0 rgb(0 45 99 / 30%);

      &:disabled {
        cursor: default;
        box-shadow: none;
      }
    }

    &_white {
      background: var(--white, #fff);

      &:active {
        border: 2px solid var(--dark-blue, #002d63);

        &:disabled {
          border: none;
        }
      }
    }

    &_blue {
      background: var(--dark-blue, #002d63);

      &:active {
        border: 2px solid var(--white, #fff);

        &:disabled {
          border: none;
        }
      }
    }
  }

  .text {
    font-family: var(--title-h-3-font-family, 'Germano-Regular', sans-serif);
    font-size: var(--title-h-3-font-size, 64px);
    font-weight: var(--title-h-3-font-weight, 400);
    line-height: var(--title-h-3-line-height, 64px);

    &_white {
      color: var(--white, #fff);
    }

    &_blue {
      color: var(--darkblue, #002d63);
    }
  }

  .disk:hover .text {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  .disk:disabled .text {
    color: var(--darkblue-50, #8096b1);
    text-decoration: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 128px;
  height: 128px;
  animation: rotate 2s linear infinite;

  &_blue {
    path {
      stroke: var(--darkblue, #002d63); // same svg but stroke is blue
    }
  }
}

@media screen and (width <= 1280px) {
  .promo {
    width: 320px;
    height: 320px;

    .promoText {
      width: 260px;
      font-size: var(--title-h-4-font-size, 48px);
      line-height: var(--title-h-4-line-height, 48px);
    }
  }

  .radiant {
    width: 700px;
    height: 700px;

    .text {
      font-size: var(--title-h-4-font-size, 48px);
      line-height: var(--title-h-4-line-height, 48px);
    }
  }
}

@media screen and (width <= 768px) {
  .promo {
    .promoText {
      font-size: var(--title-h-4-font-size, 48px);
      line-height: var(--title-h-4-line-height, 48px);
    }
  }
}

@media screen and (width <= 360px) {
  .promo {
    width: 250px;
    height: 250px;

    .promoText {
      width: 180px;
      font-size: var(--title-tel-h-1-font-size, 40px);
      line-height: var(--title-tel-h-1-line-height, 40px);
    }
  }

  .radiant {
    width: 600px;
    height: 600px;

    .text {
      font-size: var(--title-tel-h-1-font-size, 40px);
      line-height: var(--title-tel-h-1-line-height, 40px);
    }
  }
}
