.carousel,
.carousel * {
  box-sizing: border-box;
}

.carousel {
  display: none;

  &List {
    overflow-x: scroll;
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    background: var(--white, #fff);
    border-color: var(--darkblue, #002d63);
    border-style: solid;
    border-width: 0 0 2px;
    border-radius: 2px;
    box-shadow: var(--shadow-box-shadow, 0 10px 20px 0 rgb(0 45 99 / 30%));
  }

  &Item {
    display: flex;

    &:hover {
      background: var(
        --radialblue-45,
        radial-gradient(closest-side, rgb(3 64 137 / 45%) 0%, rgb(255 255 255 / 0%) 100%)
      );
    }
  }

  &Link {
    width: max-content;

    font-family: GostTypeB-Standard, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17; // 28px;
    color: var(--darkblue, #002d63);
    text-align: center;

    &Active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
    }
  }
}

@media screen and (width <= 768px) {
  .carousel {
    display: block;
    margin: -1px 0 0; // sometimes a 1px gap appears between menus

    &List {
      padding: 16px 20px 20px;
    }
  }
}
