.circle {
  position: relative;
  width: 42px;
  height: 42px;

  &__gradient {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: scale(35);

    width: 2px;
    height: 2px;

    opacity: 0;
    background: var(--radialblue);
    filter: blur(0.3px);
    border-radius: 50%;

    transition: 0.3s opacity ease-in;
  }

  &:hover &__gradient {
    opacity: 1;
  }
}
