.stages {
  overflow-y: hidden;

  width: 100%;
  max-width: 1920px;

  background: var(--white, #fff);
  border-bottom: 2px solid var(--dark-blue, #002d63);

  &Title {
    max-width: 1720px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}
