.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.fieldset {
  max-width: 1720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.button {
  margin: -200px auto 0;
  z-index: 1;
}

.contact {
  border: solid var(--darkblue, #002d63);
  border-width: 2px 0px 2px 0px;
  padding: 6px 160px 22px;
  display: flex;
  flex-direction: column;
  z-index: 2;

  &:nth-of-type(2n) {
    border: none;
  }
}

.inputContainer {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  position: relative;
  align-items: center;
}

.input {
  margin: 0;
  padding: 0;
  max-width: 1180px;
  height: 80px;
  border: none;
  resize: none;
  font-family: var(--title-h-2-font-family, 'Germano-Regular', sans-serif);
  font-size: var(--title-h-2-font-size, 80px);
  line-height: var(--title-h-2-line-height, 80px);
  font-weight: var(--title-h-2-font-weight, 400);
  flex: 1;
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: var(--darkblue-50, #8096b1);
    text-align: left;
    letter-spacing: -3.2px;
    flex: 1;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.inputError {
  padding: 12px 120px 0px 220px;
  color: var(--error, #bf1700);
  text-align: left;
  font-family: var(--title-h-4-font-family, 'Germano-Regular', sans-serif);
  font-size: var(--title-h-4-font-size, 48px);
  line-height: var(--title-h-4-line-height, 48px);
  font-weight: var(--title-h-4-font-weight, 400);
  flex: 1;
  display: none;

  &Active {
    display: flex;
  }
}

.textContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.textNumber {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--title-h-3-molot-font-family, 'Molot-Regular', sans-serif);
  font-size: var(--title-h-3-molot-font-size, 80px);
  line-height: var(--title-h-3-molot-line-height, 80px);
  font-weight: var(--title-h-3-molot-font-weight, 400);
  font-style: normal;
  position: relative;
  transition: all 0.2s ease;
  -webkit-text-stroke: 3.5px var(--darkblue);

  &Error {
    color: var(--error, #bf1700) !important;
    -webkit-text-stroke: var(--error, #bf1700);
  }
}

.textClue {
  color: var(--dark-blue, #002d63);
  font-family: Germano;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  display: none;

  &Error {
    color: var(--error, #bf1700);
  }
}

.checkboxContainer {
  margin-top: 32px;
  margin-left: 452px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkboxText {
  margin: 0;
  padding: 0;
  color: var(--dark-blue, #002d63);
  font-family: GOST type B;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;

  &:before {
    content: '';
    display: flex;
    position: absolute;
    left: -72px;
    top: 18px;
    width: 40px;
    height: 40px;
    background-image: url(./checkbox/checkbox.svg);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.checkboxTextConfidential {
  text-decoration-line: underline;
  text-underline-offset: 7px;
}

.checkbox:checked + .checkboxText:before {
  background-image: url(./checkbox/checkboxChecked.svg);
}

.input:focus + .textContainer {
  .textNumber {
    color: var(--dark-blue, #002d63);
  }

  .textClue {
    display: flex;
  }
}

.input:not(:placeholder-shown) + .textContainer {
  .textNumber {
    color: var(--dark-blue, #002d63);
  }
}

@media screen and (width <= 1280px) {
  .fieldset {
    max-width: 1180px;
  }

  .button {
    margin: -200px auto 0;
    z-index: 1;
  }

  .contact {
    padding: 8px 80px 20px;
  }

  .inputContainer {
    max-width: 1020px;
  }

  .inputError {
    padding: 12px 120px 0px 220px;
    color: var(--error, #bf1700);
    text-align: left;
    font-family: var(--title-h-4-font-family, 'Germano-Regular', sans-serif);
    font-size: var(--title-h-4-font-size, 48px);
    line-height: var(--title-h-4-line-height, 48px);
    font-weight: var(--title-h-4-font-weight, 400);
    flex: 1;
    display: none;

    &Active {
      display: flex;
    }
  }
}
