/* stylelint-disable property-no-vendor-prefix */
.button_type_hamburger {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: none;

  -webkit-tap-highlight-color: #0000;

  /* чтобы текст кнопки не выделялся при нажатии на неё пальцем в mobile-view */
  -webkit-touch-callout: none;
}

.button_type_hamburger:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

.page__toggle {
  display: none;
  margin: 5px;
  padding: 0;
}

.page__toggle:checked + .button_type_hamburger .top-bun {
  top: 12px;
  transform: rotateZ(45deg);
  width: 32px;
}

.page__toggle:checked + .button_type_hamburger .bottom-bun {
  transform: rotate(45deg);
  opacity: 0;
}

.page__toggle:checked + .button_type_hamburger .meat {
  top: 0;
  transform: rotateZ(-45deg);
  width: 32px;
}

@media screen and (width <= 768px) {
  .button_type_hamburger {
    display: block;

    width: min-content;
    margin: 0;
    padding: 5px;

    transition: all 0.2s ease-in;
  }

  .button__part {
    position: relative;

    width: 32px;
    height: 4px;
    margin-top: 8px;

    background-color: var(--darkblue, #002d63);
    border-radius: 2px;

    transition: all 0.3s ease-in-out;
  }

  .button__part:first-of-type {
    margin-top: 0;
  }
}
