.section {
  display: grid;
  grid-template-columns: 430px 430px auto;
  grid-template-rows: 380px 300px 460px;
  gap: 40px;

  margin: 20px 0 100px;
  padding: 0 100px;

  &Text {
    font-family: Germano, sans-serif;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    line-height: 64px; /* 100% */
    color: var(--dark-blue, #002d63);

    @media screen and (width <= 1600px) {
      font-size: 48px;
    }

    @media screen and (width <= 768px) {
      font-size: 40px;
    }

    @media screen and (width <= 360px) {
      font-size: 32px;
    }
  }

  &Cell {
    &_1 {
      // СИСТЕМЫ ВЗАИМОДЕЙСТВИЯ
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }

    &_2 {
      // text
      grid-column: 3 / span 1;
      grid-row: 1 / span 3;
    }

    &_3 {
      // GAMEDEV
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    &_4 {
      // УПРАВЛЕНИЕ ДАННЫМИ
      grid-column: 2 / span 1;
      grid-row: 2 / span 2;
    }

    &_5 {
      // МОБИЛЬНАЯ РАЗРАБОТКА
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
  }

  @media screen and (width <= 1280px) {
    padding: 0 50px;
  }

  @media screen and (width <= 768px) {
    padding: 0 32px;
  }

  @media screen and (width <= 360px) {
    padding: 0 16px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  background: var(--white, #fff);
  border: 2px solid var(--dark-blue, #002d63);

  transition: all 0.2s ease;

  &Title {
    font-family: Germano, sans-serif;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    line-height: 1; // 64px; /* 100% */
    color: var(--dark-blue, #002d63);

    @media screen and (width <= 1280px) {
    }

    @media screen and (width <= 768px) {
      font-size: 32px;
    }

    @media screen and (width <= 360px) {
    }
  }

  &Text {
    font-family: 'GOST type B', sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.19; // 38px; /* 118.75% */
    color: var(--white, #fff);

    // color: var(--dark-blue, #002d63);

    @media screen and (width <= 1280px) {
    }

    @media screen and (width <= 768px) {
    }

    @media screen and (width <= 360px) {
      font-size: 20px;
      line-height: 1.2; // 24px; /* 120% */
    }
  }

  &:hover {
    background: var(--dark-blue, #002d63);
  }

  &:hover &Title {
    color: var(--white, #fff);
    text-decoration: underline;
  }
}
